body {
    margin: 0;
    width: 100%;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}

table.table-list {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

table.table-list th {
    background-color: aliceblue;
    padding: 5px;
}

table.table-list td {
    padding: 5px;

    /*border-bottom: 1px solid #444444;*/
}

table.table-list tr:nth-of-type(even) {
    background-color: #f3f3f3;

}

nav {
    margin-bottom: 0px;
    background-color: #19AD15;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #19AD15;

}

nav li {
    float: left;

}

nav li a {
    display: inline-block;
    color: white;
    text-align: center;

    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #189D1C;
    color: white;
}

.form-part {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: 5px 25px 15px;
}

.form-part h1 {
    font-size: 20px;
    font-weight: 400;
}

.form-title {
    min-width: 75px;
    font-size: 15px;
    font-weight: lighter;
    justify-content: flex-end;
    align-items: flex-end;
}

.form-field {
    width: 100%;
}

.form-field input {
    width: 100%;
    margin-left: -10px;
}

select {
    width: 100%;
}

.form-buttons input {
    width: 50%;
    margin: 5px 0;
}

nav li a img {
    vertical-align: middle;
}

span {
    color: white;
}

.ticketProps {
    color: black;
}

#deleteAllButton {
    text-align: center;
    padding: 15px;
}


.button_a {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #19AD15;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    margin-bottom: 5px;


}

.button_a:hover {
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}
.row {
    margin-top: 10px;

}

