<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/springstyle.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg py-3 shadow-sm">
    <div class="container">
        <a href="/" class="navbar-brand">
            <!-- Logo Image -->
            <img src="../static/images/icon-spring-framework.svg" th:src="@{images/icon-spring-framework.svg}"
                 width="100" height="40" alt="">
            <span class="text-uppercase font-weight-bold">Spring Framework</span>
        </a>

        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="/" class="nav-link">Seznam rezervací</a></li>
                <li class="nav-item"><a href="/addTicket" class="nav-link">Nová rezervace</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="row justify-content-center">
    <form action="#" th:action="@{/createTicket}" th:object="${ticket}" method="post">
        <div class="row justify-content-center">
            <h1>Nová rezervace</h1>
        </div>
        <select class="custom-select custom-select-sm mb-3" th:field="*{movie}">
            <option value="Star Wars: Pomsta Sithů">Star Wars: Pomsta Sithů</option>
            <option value="Avengers Endgame">Avengers Endgame</option>
            <option value="Pulp Fiction">Pulp Fiction</option>
            <option value="John Wick">John Wick</option>
        </select>

        <select class="custom-select custom-select-sm mb-3" th:field="*{language}">
            <option value="Angličtina">Angličtina</option>
            <option value="Čeština">Čeština</option>
        </select>

        <select class="custom-select custom-select-sm mb-3" th:field="*{hall}">
            <option value="J2">J2</option>
            <option value="J3">J3</option>
        </select>

        <input class="form-control form-control-sm" min="1" required th:field="*{numberOfSeats}"
               type="number">

        <div class="row justify-content-center">
            <input type="submit" class="button_a" value="Odeslat"/>
        </div>
        <div class="row justify-content-center">
            <input type="reset" class="button_a" value="Reset"/>

        </div>
    </form>

</div>


<div class="row justify-content-center">
    <form action="#" th:action="@{/updateTicket/{id}(id=${ticket.getId()})}" th:object="${ticket}" method="post">
        <div class="row justify-content-center">
            <h1>Úprava rezervace</h1>
        </div>
        <select class="custom-select custom-select-sm mb-3" th:field="*{movie}">
            <option value="Star Wars: Pomsta Sithů">Star Wars: Pomsta Sithů</option>
            <option value="Avengers Endgame">Avengers Endgame</option>
            <option value="Pulp Fiction">Pulp Fiction</option>
            <option value="John Wick">John Wick</option>
        </select>

        <select class="custom-select custom-select-sm mb-3" th:field="*{language}">
            <option value="Angličtina">Angličtina</option>
            <option value="Čeština">Čeština</option>
        </select>

        <select class="custom-select custom-select-sm mb-3" th:field="*{hall}">
            <option value="J2">J2</option>
            <option value="J3">J3</option>
        </select>

        <input class="form-control form-control-sm" min="1" required th:field="*{numberOfSeats}"
               type="number">

        <div class="row justify-content-center">
            <input type="submit" class="button_a" value="Odeslat"/>
        </div>
        <div class="row justify-content-center">
            <input type="reset" class="button_a" value="Reset"/>

        </div>
    </form>
</div>



<div>
    <table class="table-list">
        <thead>
        <th>Sál</th>
        <th>Kapacita</th>
        </thead>
        <tbody>

        <tr th:action="@{/addTicket}" th:each=" hall: ${halls}">

            <td><span class="ticketProps" th:text="${hall.getName()}"> Sál </span></td>
            <td><span class="ticketProps" th:text="${hall.getCapacity()}"> Kapacita </span></td>


        </tr>
        </tbody>

    </table>
</div>
</body>
</html>